.about {
  padding: 120px 15vw;
  color: #cdd8e8;
  text-align: center;
}

.about h2 {
  font-size: 42px;
  margin-bottom: 20px;
  color: white;
}

.about p {
  font-size: 18px;
  line-height: 1.7;
  max-width: 800px;
  margin: 0 auto;
}
